@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* This file is for your main application CSS */

.custom-accordion-content .dddddd{
    display: grid !important;
    grid-template-rows: 0fr;
    transition: grid-template-rows 2s ease-out;
  }
  
  .custom-accordion-content.active .dddddd{
    grid-template-rows: 1fr;
  }