<MishkaChelekom.Banner.banner>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi ea atque soluta praesentium quidem dicta sapiente accusamus nihil.</div>
</MishkaChelekom.Banner.banner>

<MishkaChelekom.Banner.banner color="primary" space="large" vertical_position="bottom">
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi ea atque soluta praesentium quidem dicta sapiente accusamus nihil.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi ea atque soluta praesentium quidem dicta sapiente accusamus nihil.</div>
</MishkaChelekom.Banner.banner>
