<div class="p-5">
  <MishkaChelekom.Blockquote.blockquote>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem nihil commodi,
    facere voluptatum dolores tempora vero soluta harum nam esse
    <:caption image="https://flowbite.com/docs/images/people/profile-picture-3.jpg">
      Shahryar Tavakkoli | CEO
    </:caption>
  </MishkaChelekom.Blockquote.blockquote>
</div>
