<MishkaChelekom.Carousel.carousel>
    <:slide description_class="hidden md:block" content_position="end" class="active-slide" title="This is a dummy title" description="This is a desciption for our crousel and this is a dummy text" image="https://mdbcdn.b-cdn.net/img/new/slides/042.webp" />
    <:slide description_class="hidden md:block" content_position="center" title="This is a dummy title" image="https://mdbcdn.b-cdn.net/img/new/slides/043.webp" />
    <:slide description_class="hidden md:block" content_position="start" title="This is a dummy title" image="https://mdbcdn.b-cdn.net/img/new/slides/044.webp" />
    <:slide description_class="hidden md:block" title="This is a dummy title" image="https://mdbcdn.b-cdn.net/img/new/slides/045.webp" />
    <:slide description_class="hidden md:block" title="This is a dummy title" image="https://mdbcdn.b-cdn.net/img/new/slides/046.webp" />
    <:slide description_class="hidden md:block" title="This is a dummy title" image="https://mdbcdn.b-cdn.net/img/new/slides/047.webp" />
    <:slide description_class="hidden md:block" title="This is a dummy title" image="https://mdbcdn.b-cdn.net/img/new/slides/048.webp" />
    <:slide description_class="hidden md:block" title="This is a dummy title" image="https://mdbcdn.b-cdn.net/img/new/slides/049.webp" />
</MishkaChelekom.Carousel.carousel>
