<div class="p-5">
    <MishkaChelekom.Drawer.drawer>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi ea atque soluta praesentium quidem dicta sapiente accusamus nihil.
    </MishkaChelekom.Drawer.drawer>

    <MishkaChelekom.Drawer.drawer title="Right Drawer" position="right">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi ea atque soluta praesentium quidem dicta sapiente accusamus nihil.
    </MishkaChelekom.Drawer.drawer>
</div>
