<div class="space-y-5 p-5">
    <MishkaChelekom.Progress.progress />
    <MishkaChelekom.Progress.progress color="primary" />
    <MishkaChelekom.Progress.progress color="secondary" />
    <MishkaChelekom.Progress.progress color="misc" />
    <MishkaChelekom.Progress.progress color="danger" />
    <MishkaChelekom.Progress.progress color="info" />
</div>
