<div class="p-5 space-y-5">
    <MishkaChelekom.Skeleton.skeleton />
    <MishkaChelekom.Skeleton.skeleton height="h-[20px]" width="w-[150px]" />
    <MishkaChelekom.Skeleton.skeleton height="h-[40px]" width="large" color="bg-rose-400" />
    <MishkaChelekom.Skeleton.skeleton width="large" width="small" color="bg-rose-400" />
</div>
