<div class="space-y-10 max-w-2xl mx-auto px-5">

<MishkaChelekom.Tabs.tabs color="warning" padding="large" gap="small" variant="pills" vertical>
  <:tab class="active-tab" icon="hero-home">1</:tab>
  <:tab icon="hero-home">2</:tab>
  <:tab icon="hero-home">3</:tab>

  <:panel>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
  </:panel>
  <:panel>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
  </:panel>
  <:panel>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
  </:panel>
</MishkaChelekom.Tabs.tabs>
<MishkaChelekom.Tabs.tabs color="primary" padding="large" gap="small" variant="pills" vertical>
  <:tab class="active-tab" icon="hero-home">1</:tab>
  <:tab icon="hero-home">2</:tab>
  <:tab icon="hero-home">3</:tab>

  <:panel>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
  </:panel>
  <:panel>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
  </:panel>
  <:panel>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
  </:panel>
</MishkaChelekom.Tabs.tabs>
<MishkaChelekom.Tabs.tabs color="secondary" padding="large" gap="small" variant="pills" vertical>
  <:tab class="active-tab" icon="hero-home">1</:tab>
  <:tab icon="hero-home">2</:tab>
  <:tab icon="hero-home">3</:tab>

  <:panel>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
  </:panel>
  <:panel>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
  </:panel>
  <:panel>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
  </:panel>
</MishkaChelekom.Tabs.tabs>
<MishkaChelekom.Tabs.tabs color="danger" padding="large" gap="small" variant="pills" vertical>
  <:tab class="active-tab" icon="hero-home">1</:tab>
  <:tab icon="hero-home">2</:tab>
  <:tab icon="hero-home">3</:tab>

  <:panel>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
  </:panel>
  <:panel>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
  </:panel>
  <:panel>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
  </:panel>
</MishkaChelekom.Tabs.tabs>
<MishkaChelekom.Tabs.tabs color="success" padding="large" gap="small" variant="pills" vertical>
  <:tab class="active-tab" icon="hero-home">1</:tab>
  <:tab icon="hero-home">2</:tab>
  <:tab icon="hero-home">3</:tab>

  <:panel>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
  </:panel>
  <:panel>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
  </:panel>
  <:panel>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
  </:panel>
</MishkaChelekom.Tabs.tabs>
<MishkaChelekom.Tabs.tabs color="info" padding="large" gap="small" variant="pills" vertical>
  <:tab class="active-tab" icon="hero-home">1</:tab>
  <:tab icon="hero-home">2</:tab>
  <:tab icon="hero-home">3</:tab>

  <:panel>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
  </:panel>
  <:panel>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
  </:panel>
  <:panel>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
  </:panel>
</MishkaChelekom.Tabs.tabs>
<MishkaChelekom.Tabs.tabs color="misc" padding="large" gap="small" variant="pills" vertical>
  <:tab class="active-tab" icon="hero-home">1</:tab>
  <:tab icon="hero-home">2</:tab>
  <:tab icon="hero-home">3</:tab>

  <:panel>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
  </:panel>
  <:panel>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
  </:panel>
  <:panel>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
  </:panel>
</MishkaChelekom.Tabs.tabs>
<MishkaChelekom.Tabs.tabs color="primary" padding="large" gap="small" vertical>
  <:tab class="active-tab" icon="hero-home">1</:tab>
  <:tab icon="hero-home">2</:tab>
  <:tab icon="hero-home">3</:tab>

  <:panel>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
  </:panel>
  <:panel>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
  </:panel>
  <:panel>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
  </:panel>
</MishkaChelekom.Tabs.tabs>
<MishkaChelekom.Tabs.tabs color="secondary" padding="large" gap="small" vertical>
  <:tab class="active-tab" icon="hero-home">1</:tab>
  <:tab icon="hero-home">2</:tab>
  <:tab icon="hero-home">3</:tab>

  <:panel>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
  </:panel>
  <:panel>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
  </:panel>
  <:panel>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
  </:panel>
</MishkaChelekom.Tabs.tabs>
<MishkaChelekom.Tabs.tabs color="misc" padding="large" gap="small" vertical>
  <:tab class="active-tab" icon="hero-home">1</:tab>
  <:tab icon="hero-home">2</:tab>
  <:tab icon="hero-home">3</:tab>

  <:panel>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
  </:panel>
  <:panel>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
  </:panel>
  <:panel>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
  </:panel>
</MishkaChelekom.Tabs.tabs>
<MishkaChelekom.Tabs.tabs color="dawn" padding="large" gap="small" vertical>
  <:tab class="active-tab" icon="hero-home">1</:tab>
  <:tab icon="hero-home">2</:tab>
  <:tab icon="hero-home">3</:tab>

  <:panel>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
  </:panel>
  <:panel>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
  </:panel>
  <:panel>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
  </:panel>
</MishkaChelekom.Tabs.tabs>
<MishkaChelekom.Tabs.tabs color="dark" padding="large" gap="small" vertical>
  <:tab class="active-tab" icon="hero-home">1</:tab>
  <:tab icon="hero-home">2</:tab>
  <:tab icon="hero-home">3</:tab>

  <:panel>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
  </:panel>
  <:panel>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
  </:panel>
  <:panel>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
  </:panel>
</MishkaChelekom.Tabs.tabs>
<MishkaChelekom.Tabs.tabs color="success" padding="large" gap="small" vertical>
  <:tab class="active-tab" icon="hero-home">1</:tab>
  <:tab icon="hero-home">2</:tab>
  <:tab icon="hero-home">3</:tab>

  <:panel>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
  </:panel>
  <:panel>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
  </:panel>
  <:panel>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
  </:panel>
</MishkaChelekom.Tabs.tabs>
<MishkaChelekom.Tabs.tabs color="danger" padding="large" gap="small" vertical>
  <:tab class="active-tab" icon="hero-home">1</:tab>
  <:tab icon="hero-home">2</:tab>
  <:tab icon="hero-home">3</:tab>

  <:panel>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
  </:panel>
  <:panel>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
  </:panel>
  <:panel>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
  </:panel>
</MishkaChelekom.Tabs.tabs>
<MishkaChelekom.Tabs.tabs color="light" padding="large" gap="small" vertical>
  <:tab class="active-tab" icon="hero-home">1</:tab>
  <:tab icon="hero-home">2</:tab>
  <:tab icon="hero-home">3</:tab>

  <:panel>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
  </:panel>
  <:panel>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
  </:panel>
  <:panel>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
  </:panel>
</MishkaChelekom.Tabs.tabs>
</div>

<br />
<br />
<br />
<hr />
<br />
<br />
<br />
<br />
<br />

<div class="space-y-10 max-w-2xl mx-auto px-5 my-10">
<div class="3xl">Default</div>

  <MishkaChelekom.Tabs.tabs color="warning" padding="large">
    <:tab class="active-tab" icon="hero-home">1</:tab>
    <:tab icon="hero-home">2</:tab>
    <:tab icon="hero-home">3</:tab>

    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
  </MishkaChelekom.Tabs.tabs>

  <MishkaChelekom.Tabs.tabs color="info" size="large">
    <:tab class="active-tab" icon="hero-home">1</:tab>
    <:tab icon="hero-home">2</:tab>
    <:tab icon="hero-home">3</:tab>

    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
  </MishkaChelekom.Tabs.tabs>
  <MishkaChelekom.Tabs.tabs color="danger" size="extra_large" padding="medium">
    <:tab class="active-tab" icon="hero-home">1</:tab>
    <:tab icon="hero-home">2</:tab>
    <:tab icon="hero-home">3</:tab>

    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
  </MishkaChelekom.Tabs.tabs>
  <MishkaChelekom.Tabs.tabs color="primary">
    <:tab class="active-tab" icon="hero-home">1</:tab>
    <:tab icon="hero-home">2</:tab>
    <:tab icon="hero-home">3</:tab>

    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
  </MishkaChelekom.Tabs.tabs>
  <MishkaChelekom.Tabs.tabs color="secondary">
    <:tab class="active-tab" icon="hero-home">1</:tab>
    <:tab icon="hero-home">2</:tab>
    <:tab icon="hero-home">3</:tab>

    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
  </MishkaChelekom.Tabs.tabs>
  <MishkaChelekom.Tabs.tabs color="misc">
    <:tab class="active-tab" icon="hero-home">1</:tab>
    <:tab icon="hero-home">2</:tab>
    <:tab icon="hero-home">3</:tab>

    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
  </MishkaChelekom.Tabs.tabs>
  <MishkaChelekom.Tabs.tabs color="dawn">
    <:tab class="active-tab" icon="hero-home">1</:tab>
    <:tab icon="hero-home">2</:tab>
    <:tab icon="hero-home">3</:tab>

    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
  </MishkaChelekom.Tabs.tabs>
  <MishkaChelekom.Tabs.tabs color="dark">
    <:tab class="active-tab" icon="hero-home">1</:tab>
    <:tab icon="hero-home">2</:tab>
    <:tab icon="hero-home">3</:tab>

    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
  </MishkaChelekom.Tabs.tabs>
</div>

<br />
<br />
<br />
<hr />
<br />
<br />
<br />
<br />
<br />

<div class="space-y-10 max-w-2xl mx-auto px-5">
<div class="3xl">Pills</div>

  <MishkaChelekom.Tabs.tabs gap="small" variant="pills" rounded="large" color="warning" padding="large">
    <:tab class="active-tab" icon="hero-home">1</:tab>
    <:tab icon="hero-home">2</:tab>
    <:tab icon="hero-home">3</:tab>

    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
  </MishkaChelekom.Tabs.tabs>

  <MishkaChelekom.Tabs.tabs gap="small" variant="pills" rounded="large" color="info" size="large">
    <:tab class="active-tab" icon="hero-home">1</:tab>
    <:tab icon="hero-home">2</:tab>
    <:tab icon="hero-home">3</:tab>

    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
  </MishkaChelekom.Tabs.tabs>
  <MishkaChelekom.Tabs.tabs gap="small" variant="pills" rounded="large" color="danger" size="extra_large" padding="medium">
    <:tab class="active-tab" icon="hero-home">1</:tab>
    <:tab icon="hero-home">2</:tab>
    <:tab icon="hero-home">3</:tab>

    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
  </MishkaChelekom.Tabs.tabs>
  <MishkaChelekom.Tabs.tabs gap="small" variant="pills" rounded="large" color="primary">
    <:tab class="active-tab" icon="hero-home">1</:tab>
    <:tab icon="hero-home">2</:tab>
    <:tab icon="hero-home">3</:tab>

    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
  </MishkaChelekom.Tabs.tabs>
  <MishkaChelekom.Tabs.tabs gap="small" variant="pills" rounded="large" color="secondary">
    <:tab class="active-tab" icon="hero-home">1</:tab>
    <:tab icon="hero-home">2</:tab>
    <:tab icon="hero-home">3</:tab>

    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
  </MishkaChelekom.Tabs.tabs>
  <MishkaChelekom.Tabs.tabs gap="small" variant="pills" rounded="large" color="misc">
    <:tab class="active-tab" icon="hero-home">1</:tab>
    <:tab icon="hero-home">2</:tab>
    <:tab icon="hero-home">3</:tab>

    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
  </MishkaChelekom.Tabs.tabs>
  <MishkaChelekom.Tabs.tabs gap="small" variant="pills" rounded="large" color="dawn">
    <:tab class="active-tab" icon="hero-home">1</:tab>
    <:tab icon="hero-home">2</:tab>
    <:tab icon="hero-home">3</:tab>

    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
  </MishkaChelekom.Tabs.tabs>
  <MishkaChelekom.Tabs.tabs gap="small" variant="pills" rounded="large" color="dark">
    <:tab class="active-tab" icon="hero-home">1</:tab>
    <:tab icon="hero-home">2</:tab>
    <:tab icon="hero-home">3</:tab>

    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
  </MishkaChelekom.Tabs.tabs>
</div>

<div class="space-y-10  max-w-2xl mx-auto px-5 my-10">
  <MishkaChelekom.Tabs.tabs gap="small" variant="pills" color="white">
    <:tab class="active-tab" icon="hero-home">Color White</:tab>
    <:tab icon="hero-home">Color White</:tab>
    <:tab icon="hero-home">Color White</:tab>

    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
  </MishkaChelekom.Tabs.tabs>
  <MishkaChelekom.Tabs.tabs gap="small" variant="pills" color="info" size="large">
    <:tab class="active-tab" icon="hero-home">1</:tab>
    <:tab icon="hero-home">2</:tab>
    <:tab icon="hero-home">3</:tab>

    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
  </MishkaChelekom.Tabs.tabs>
  <MishkaChelekom.Tabs.tabs gap="small" variant="pills" color="danger" size="extra_large" padding="medium">
    <:tab class="active-tab" icon="hero-home">1</:tab>
    <:tab icon="hero-home">2</:tab>
    <:tab icon="hero-home">3</:tab>

    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
  </MishkaChelekom.Tabs.tabs>
  <MishkaChelekom.Tabs.tabs gap="small" variant="pills" color="primary">
    <:tab class="active-tab" icon="hero-home">1</:tab>
    <:tab icon="hero-home">2</:tab>
    <:tab icon="hero-home">3</:tab>

    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
  </MishkaChelekom.Tabs.tabs>
  <MishkaChelekom.Tabs.tabs gap="small" variant="pills" color="secondary">
    <:tab class="active-tab" icon="hero-home">1</:tab>
    <:tab icon="hero-home">2</:tab>
    <:tab icon="hero-home">3</:tab>

    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
  </MishkaChelekom.Tabs.tabs>
  <MishkaChelekom.Tabs.tabs gap="small" variant="pills" color="misc">
    <:tab class="active-tab" icon="hero-home">1</:tab>
    <:tab icon="hero-home">2</:tab>
    <:tab icon="hero-home">3</:tab>

    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
  </MishkaChelekom.Tabs.tabs>
  <MishkaChelekom.Tabs.tabs gap="small" variant="pills" color="dawn">
    <:tab class="active-tab" icon="hero-home">1</:tab>
    <:tab icon="hero-home">2</:tab>
    <:tab icon="hero-home">3</:tab>

    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
  </MishkaChelekom.Tabs.tabs>
  <MishkaChelekom.Tabs.tabs gap="small" variant="pills" color="dark">
    <:tab class="active-tab" icon="hero-home">1</:tab>
    <:tab icon="hero-home">2</:tab>
    <:tab icon="hero-home">3</:tab>

    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
    <:panel>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quis sapiente id?</p>
    </:panel>
  </MishkaChelekom.Tabs.tabs>
</div>
