<div class="space-y-5 max-w-2xl mx-auto py-10">
    <MishkaChelekom.Video.video src="https://flowbite.com/docs/videos/flowbite.mp4" ratio="square" />
    <MishkaChelekom.Video.video src="https://flowbite.com/docs/videos/flowbite.mp4" ratio="vide0" />
    <MishkaChelekom.Video.video src="https://flowbite.com/docs/videos/flowbite.mp4" ratio="auto" />
    <MishkaChelekom.Video.video src="https://flowbite.com/docs/videos/flowbite.mp4" ratio="auto" width="large" />
</div>
